<section class="home">
  <div id="loading" class="hidden">
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1>Cargando articulos</h1>
  </div>
  {{#each posts}}
    <article>
      <div class="content">
        <h1>{{title}}</h1>
        <h2>Publicado por {{author}} el dia {{formatedDate}} </h2>
        <p>{{extract}}</p>
      </div>
      <div class="picture" style="background-image: url({{picture}});"></div>
    </article>
  {{/each}}
</section>